[submodule "leia/plugin.video.themoviedb.helper"]
	path = leia/plugin.video.themoviedb.helper
	url = https://github.com/jurialmunkey/plugin.video.themoviedb.helper
[submodule "matrix/plugin.video.themoviedb.helper"]
	path = matrix/plugin.video.themoviedb.helper
	url = https://github.com/jurialmunkey/plugin.video.themoviedb.helper
[submodule "leia/skin.arctic.horizon"]
	path = leia/skin.arctic.horizon
	url = https://github.com/jurialmunkey/skin.arctic.horizon
[submodule "leia/script.skinvariables"]
	path = leia/script.skinvariables
	url = https://github.com/jurialmunkey/script.skinvariables
[submodule "matrix/script.skinvariables"]
	path = matrix/script.skinvariables
	url = https://github.com/jurialmunkey/script.skinvariables
[submodule "leia/skin.aura"]
	path = leia/skin.aura
	url = https://github.com/jurialmunkey/skin.aura
[submodule "leia/context.themoviedb.helper"]
	path = leia/context.themoviedb.helper
	url = https://github.com/jurialmunkey/context.themoviedb.helper
[submodule "matrix/context.themoviedb.helper"]
	path = matrix/context.themoviedb.helper
	url = https://github.com/jurialmunkey/context.themoviedb.helper
[submodule "leia/skin.arctic.zephyr.2"]
	path = leia/skin.arctic.zephyr.2
	url = https://github.com/jurialmunkey/skin.arctic.zephyr.2
[submodule "repo/resource.images.arctic.waves"]
	path = repo/resource.images.arctic.waves
	url = https://github.com/drinfernoo/resource.images.arctic.waves
[submodule "repo/screensaver.arctic.mirage"]
	path = repo/screensaver.arctic.mirage
	url = https://github.com/drinfernoo/screensaver.arctic.mirage
[submodule "repo/resource.images.moviegenreicons.horizon"]
	path = repo/resource.images.moviegenreicons.horizon
	url = https://github.com/Swageroni/resource.images.moviegenreicons.horizon
[submodule "matrix/skin.arctic.horizon"]
	path = matrix/skin.arctic.horizon
	url = https://github.com/jurialmunkey/skin.arctic.horizon