[submodule "repo/resource.images.arctic.waves"]
	path = repo/resource.images.arctic.waves
	url = https://github.com/drinfernoo/resource.images.arctic.waves
[submodule "repo/screensaver.arctic.mirage"]
	path = repo/screensaver.arctic.mirage
	url = https://github.com/drinfernoo/screensaver.arctic.mirage
[submodule "repo/resource.images.moviegenreicons.horizon"]
	path = repo/resource.images.moviegenreicons.horizon
	url = https://github.com/Swageroni/resource.images.moviegenreicons.horizon
[submodule "nexus/plugin.video.themoviedb.helper"]
	path = nexusrepo/plugin.video.themoviedb.helper
	url = https://github.com/jurialmunkey/plugin.video.themoviedb.helper
	branch = nexus
[submodule "nexusrepo/script.skinvariables"]
	path = nexusrepo/script.skinvariables
	url = https://github.com/jurialmunkey/script.skinvariables
	branch = nexus
[submodule "nexusrepo/context.themoviedb.helper"]
	path = nexusrepo/context.themoviedb.helper
	url = https://github.com/jurialmunkey/context.themoviedb.helper
	branch = matrix
[submodule "nexusrepo/script.texturemaker"]
	path = nexusrepo/script.texturemaker
	url = https://github.com/jurialmunkey/script.texturemaker
[submodule "nexusrepo/skin.arctic.horizon.2"]
	path = nexusrepo/skin.arctic.horizon.2
	url = https://github.com/jurialmunkey/skin.arctic.horizon.2
[submodule "nexusrepo/resource.font.robotocjksc"]
	path = nexusrepo/resource.font.robotocjksc
	url = https://github.com/jurialmunkey/resource.font.robotocjksc
	branch = main
[submodule "nexusrepo/script.module.infotagger"]
	path = nexusrepo/script.module.infotagger
	url = https://github.com/jurialmunkey/script.module.infotagger.git
[submodule "matrix/script.module.jurialmunkey"]
	path = matrix/script.module.jurialmunkey
	url = https://github.com/jurialmunkey/script.module.jurialmunkey
	branch = matrix
[submodule "nexusrepo/script.module.jurialmunkey"]
	path = nexusrepo/script.module.jurialmunkey
	url = https://github.com/jurialmunkey/script.module.jurialmunkey
	branch = main
[submodule "nexusrepo/script.wikipedia"]
	path = nexusrepo/script.wikipedia
	url = https://github.com/jurialmunkey/script.wikipedia.git
[submodule "nexusrepo/skin.arctic.fuse"]
	path = nexusrepo/skin.arctic.fuse
	url = https://github.com/jurialmunkey/skin.arctic.fuse.git
	branch = nexus
[submodule "omega/skin.arctic.fuse"]
	path = omega/skin.arctic.fuse
	url = https://github.com/jurialmunkey/skin.arctic.fuse
	branch = omega
[submodule "omega/script.skinvariables"]
	path = omega/script.skinvariables
	url = https://github.com/jurialmunkey/script.skinvariables
	branch = nexus
[submodule "omega/script.texturemaker"]
	path = omega/script.texturemaker
	url = https://github.com/jurialmunkey/script.texturemaker
	branch = main
[submodule "omega/plugin.video.themoviedb.helper"]
	path = omega/plugin.video.themoviedb.helper
	url = https://github.com/jurialmunkey/plugin.video.themoviedb.helper
	branch = nexus
[submodule "omega/script.module.jurialmunkey"]
	path = omega/script.module.jurialmunkey
	url = https://github.com/jurialmunkey/script.module.jurialmunkey
	branch = main
[submodule "omega/script.module.infotagger"]
	path = omega/script.module.infotagger
	url = https://github.com/jurialmunkey/script.module.infotagger
	branch = main
[submodule "omega/script.wikipedia"]
	path = omega/script.wikipedia
	url = https://github.com/jurialmunkey/script.wikipedia
	branch = main
[submodule "omega/screensaver.arctic.mirage"]
	path = omega/screensaver.arctic.mirage
	url = https://github.com/jurialmunkey/screensaver.arctic.mirage
	branch = master
[submodule "omega/resource.font.robotcjksc"]
	path = omega/resource.font.robotcjksc
	url = https://github.com/jurialmunkey/resource.font.robotocjksc
	branch = main
[submodule "omega/skin.arctic.horizon.2"]
	path = omega/skin.arctic.horizon.2
	url = https://github.com/jurialmunkey/skin.arctic.horizon.2.git
	branch = omega
[submodule "omega/skin.arctic.fuse.2"]
	path = omega/skin.arctic.fuse.2
	url = https://github.com/jurialmunkey/skin.arctic.fuse.2.git
[submodule "omega/context.themoviedb.helper"]
	path = omega/context.themoviedb.helper
	url = https://github.com/jurialmunkey/context.themoviedb.helper.git
[submodule "omega/skin.arctic.fuse.3"]
	path = omega/skin.arctic.fuse.3
	url = https://github.com/jurialmunkey/skin.arctic.fuse.3.git
